<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>科标所库存管理管理后台</title>
    <link href="../../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../CSS/Base.css" rel="stylesheet" />
    <link href="../../CSS/System/Index.css" rel="stylesheet" />
</head>
<body>
    ( ＾∀＾）／欢迎＼( ＾∀＾） ))
    <script src="../../../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../../../Scripts/bootstrap.min.js"></script>
    <script src="../../../Lib/m-Tools/m-Tools.js"></script>
    <script src="../../../Lib/m-Reset/m-Reset.js"></script>
    <script src="../../../Scripts/Base.js"></script>
</body>
</html>