<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户配置</title>
    <link href="../../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../CSS/Base.css" rel="stylesheet" />
    <link href="../../CSS/User/User.css" rel="stylesheet" />
</head>
<body>
    <header class="page-header">
        <h1>用户中心 <small>用户配置</small></h1>
    </header>
    <form class="form-inline SearchForm">
        <div class="form-group">
            <label for="SearchUserName">用户名</label>
            <input id="SearchUserName" type="search" class="form-control" />
        </div>
        <div class="form-group">
            <label for="SearchTrueName">真实姓名</label>
            <input id="SearchTrueName" type="search" class="form-control" />
        </div>
        <div class="form-group OptionBtnGroup">
            <div class="btn-group" role="group">
                <button id="BtnSearch" type="button" class="btn btn-default">查询</button>
                <button id="BtnAdd" type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditModal">新增</button>
            </div>
        </div>
    </form>
    <main>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>真实姓名</th>
                    <th>用户名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="DataTable"></tbody>
        </table>
        <nav id="PageInfo"></nav>
    </main>
    <!-- 删除窗体 -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="DeleteModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    确定要删除该项吗？
                </div>
                <div class="modal-footer">
                    <button id="BtnDelete" type="button" class="btn btn-danger" data-dismiss="modal">删除</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">否，不删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改窗体 -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="EditModalLabel">修改</h4>
                </div>
                <div class="modal-body">
                    <form id="InputForm">
                        <div class="form-group">
                            <label class="control-label" for="InputTrueName">真实姓名*</label>
                            <input type="text" class="form-control" id="InputTrueName" maxlength="50" placeholder="真实姓名" required pattern="^[\u4E00-\u9FA5]+$">
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="InputUserName">用户名*</label>
                            <input type="text" class="form-control" id="InputUserName" maxlength="50" placeholder="用户名" required pattern="^[a-zA-Z\d]+$">
                            <span class="help-block"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="BtnSave" type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../../../Scripts/bootstrap.min.js"></script>
    <script src="../../../Lib/m-Tools/m-Tools.js"></script>
    <script src="../../../Lib/m-Reset/m-Reset.js"></script>
    <script src="../../../Scripts/Base.js"></script>
    <script src="../../Scripts/User/User.js"></script>
</body>
</html>